.header{
  /* background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true"); */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
.logo{
  padding-top: 20px;
  padding-bottom: 20px;
}
.about{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.services{
  /* background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true"); */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 90px 90px 90px 90px;
  color: white;
}
.what{
padding-top: 70px;
  text-align: center;
}

.row{
  padding-top: 20px;
}

.par1, .par2, .par3{
  display: none;
}
.text {
  left:30%;
  top:50%;
  position: absolute;
  opacity:0;
}
